<div id="vim-settings">
  <nav>
    <ul class="nav nav-tabs">
      <li role="presentation" class="active">
        <a href="#setting-basic" data-toggle="tab">Settings</a>
      </li>
      <li role="presentation">
        <a href="#setting-color" data-toggle="tab">Color</a>
      </li>
    </ul>
  </nav>
  <div id="setting-contents" class="tab-content">
    <%= erb :'left_contents/tab_contents/setting_basic' %>
    <%= erb :'left_contents/tab_contents/setting_color' %>
  </div>
</div>
