/**
 * Global
 */
$header-height: 60px
$accent-color: #d75f5f
$default-border-option: 1px solid #ccc

html
  position: relative
  min-height: 100%
  height: 100%
  h1
    margin: 0
    padding: 0

body
  background-image: -webkit-radial-gradient(center, circle cover, #456 0%, #1a1a1a 100%)
  min-height: 100%
  height: 100%
  font-family: "Maven Pro", "Verdana", sans-serif

span.title-deco
  color: $accent-color
  font-weight: bold

/**
 * Main Page
 */
div#main
  padding: $header-height 0 0 0
  width: 100%
  height: 100%
  min-height: 100%
  header#header
    height: $header-height
    margin: 0
    background-color: #fff
    border-bottom: $default-border-option
    div#logo
      height: 100%
      padding: 0
      border-right: $default-border-option
      div#logo-inner
        padding: 10px
        height: 100%
        h1
          height: 100%
          text-align: center
          font-size: 25px
          font-weight: bold
          line-height: 36px
          color: #435060
          span
            font-weight: bold
            color: $accent-color
    div#header-content
      padding: 10px
      height: 100%

  div.row
    margin: 0
    height: 100%
    min-height: 100%

    /**
     * left-contents
     */
    div#left-contents
      border-right: $default-border-option
      height: 100%
      min-height: 100%
      padding: 10px
      background-color: #f6f7f7
      overflow: auto
      nav
        li.active
          a
            background-color: #f6f7f7
      h4
        font-size: 14px
      div#vim-settings
        font-size: 85%
        div#setting-basic
          td
            border: none
          td.table-right
            text-align: right
          td.table-right input[type="text"]
            text-align: right
        div#setting-color
          i.colorscheme-link
            vertical-align: middle
            font-size: 19px
            margin-left: 3px

    /**
     * right-contents
     */
    div#right-contents
      padding: 0
      position: fixed
      top: $header-height
      right: 0
      padding: 10px
      background-color: #e9ebeb
      div#terminal-wrapper
        background-color: #110f13
        overflow: hidden
        margin-bottom: 10px
        opacity: 0.9
        div#terminal
          height: 100%
          width: 100%
          padding: 3px 5px 13px 5px
          color: #fff
      div#vimrc-preview
        font-family: "SourceCodePro"
        background-color: #f8f8f8
        padding: 10px
        overflow: auto
        border: $default-border-option

/**
 * Welcome
 */
div#welcome
  color: #fafafa
  a
    color: #fff
    text-decoration: underline
  div.jumbotron
    text-align: center
    background-color: transparent
    h1
      letter-spacing: 3px
      font-weight: normal
      padding: 100px 0 30px 0
      margin: 0
    p
      margin: 0
      font-size: 22px
    div#start
      margin: 40px 0px 20px
      button#open
        padding: 13px 42px
        background-color: $accent-color
        color: #fff
        border: none
        &:hover
          background-color: #bb2f2f
          opacity: 0.9
  div.container
    max-width: 420px
    h3
      text-align: center
  footer
    text-align: center
    width: 100%
    margin: 10px 0
