<pre>
<span class="lnr"> 1 </span><span class="Comment"># The Greeter class</span>
<span class="lnr"> 2 </span><span class="Define">class</span> <span class="Type">Greeter</span>
<span class="lnr"> 3 </span>  <span class="Define">def</span> <span class="Function">initialize</span>(name)
<span class="lnr"> 4 </span>    <span class="Identifier">@name</span> = name.capitalize
<span class="lnr"> 5 </span>  <span class="Define">end</span>
<span class="lnr"> 6 </span>
<span class="lnr"> 7 </span>  <span class="Define">def</span> <span class="Function">salute</span>
<span class="lnr"> 8 </span>    puts <span class="Delimiter">&quot;</span><span class="String">Hello </span><span class="Delimiter">#{</span><span class="Identifier">@name</span><span class="Delimiter">}</span><span class="String">!</span><span class="Delimiter">&quot;</span>
</pre>
