<%= erb :welcome %>
<div id="main-content" class="hide">

  <div id="vimrc">
    <!-- ヘッダ -->
    <header>
        <h1>Vim::Factory</h1>
    </header>

    <div id="vimrc-inner">
      <p>
        aaaaaaaaaa
        f
        f
        e
        f
        wef
        w
      </p>
    </div>
  </div>

  <!-- ターミナル -->
  <div id="terminal">
    <div id="terminal-inner">
      <section id="console-wrapper" class="tab-pane active">
        <section id="console"></section>
      </section>
    </div>
  </div>
</div>
