<div id="welcome">
  <div class="welcome-top jumbotron">
    <h1 class="app-title">Vim::Factory</h1>
    <p class="app-subtitle">Vimの設定をその場ですぐ体感。</p>
    <button id="open" class="btn btn-success">Let's Try!!</button>
    <input id="connection_id" type="hidden" value="<%= @connection_id %>">
  </div>
  <div class="container">
    <h1>Concept</h1>
    <div class="row concept">
      <div class="col-lg-4">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
        <h2>Select</h2>
        <p>数あるVimの設定からお好みのものを選択しよう。<br />Vimの設定に詳しくなくても問題ありません。</p>
      </div>
      <div class="col-lg-4">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
        <h2>Try</h2>
        <p>設定が決まったら、その場でその設定を体感しよう。<br />気に入らなければまたすぐに設定を変更だ。</p>
      </div>
      <div class="col-lg-4">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
        <h2>Download</h2>
        <p>お気に入りの設定が見つかったらダウンロードし、<br />自分の開発環境へ反映させよう。</p>
      </div>
    </div>
    <footer class="footer">
      <p>footer</p>
    </foorter>
  </div>
</div>
<div id="main-content" class="raw hide">
  <div class="vimrc-area col-xs-4">
    <h1>Vim::Factory</h1>
    <ul class="nav nav-tabs">
      <li role="presentation" class="active">
        <a href="#setting-color" data-toggle="tab">カラー</a>
      </li>
      <li role="presentation">
        <a href="#setting-basic" data-toggle="tab">基本設定</a>
      </li>
    </ul>
    <div id="setting-contents" class="tab-content">
      <div id="setting-color" class="tab-pane fade in active">
        <h5>お好みのカラーを選択</h5>
        <div class="colorscheme default">
          <div class="radio">
            <label>
              <input type="radio" class="vimrc-contents" name="colorscheme" value="default" checked>
              <span class="colorschme-name">default</span>
            </label>
          </div>
          <pre>
            <span class="lnr"> 1 </span><span class="PreProc">require</span> <span class="Delimiter">'</span><span class="String">json</span><span class="Delimiter">'</span>
            <span class="lnr"> 2 </span>
            <span class="lnr"> 3 </span><span class="Define">class</span> factory
            <span class="lnr"> 4 </span>  <span class="Define">def</span> <span class="Constant">self</span>.<span class="Function">test</span>
            <span class="lnr"> 5 </span>    params = <span class="Type">JSON</span>.parse(request.body.read)
            <span class="lnr"> 6 </span>
            <span class="lnr"> 7 </span>    <span class="Comment"># Comment</span>
            <span class="lnr"> 8 </span>    validator = <span class="Type">VimFactory</span>::<span class="Type">Validator</span>.new(params)
            <span class="lnr"> 9 </span>    <span class="Conditional">if</span> validator.valid? == <span class="Boolean">false</span>
            <span class="lnr">10 </span>      <span class="Statement">return</span> [<span class="Number">400</span>, { <span class="Constant">message</span>: validator.error }.to_json]
          </pre>
        </div>
        <div class="colorscheme darkblue">
          <div class="radio">
            <label>
              <input type="radio" class="vimrc-contents" name="colorscheme" value="darkblue">
              <span class="colorschme-name">darkblue</span>
            </label>
          </div>
          <pre>
            <span class="lnr"> 1 </span><span class="PreProc">require</span> <span class="Delimiter">'</span><span class="String">json</span><span class="Delimiter">'</span>
            <span class="lnr"> 2 </span>
            <span class="lnr"> 3 </span><span class="Define">class</span> factory
            <span class="lnr"> 4 </span>  <span class="Define">def</span> <span class="Constant">self</span>.<span class="Function">test</span>
            <span class="lnr"> 5 </span>    params = <span class="Type">JSON</span>.parse(request.body.read)
            <span class="lnr"> 6 </span>
            <span class="lnr"> 7 </span>    <span class="Comment"># Comment</span>
            <span class="lnr"> 8 </span>    validator = <span class="Type">VimFactory</span>::<span class="Type">Validator</span>.new(params)
            <span class="lnr"> 9 </span>    <span class="Conditional">if</span> validator.valid? == <span class="Boolean">false</span>
            <span class="lnr">10 </span>      <span class="Statement">return</span> [<span class="Number">400</span>, { <span class="Constant">message</span>: validator.error }.to_json]
          </pre>
        </div>
        <div class="colorscheme molokai">
          <div class="radio">
            <label>
              <input type="radio" class="vimrc-contents" name="colorscheme" value="molokai">
              <span class="colorschme-name">molokai</span> ※インストール必要
            </label>
          </div>
          <pre>
            <span class="lnr"> 1 </span><span class="PreProc">require</span> <span class="Delimiter">'</span><span class="String">json</span><span class="Delimiter">'</span>
            <span class="lnr"> 2 </span>
            <span class="lnr"> 3 </span><span class="Define">class</span> factory
            <span class="lnr"> 4 </span>  <span class="Define">def</span> <span class="Constant">self</span>.<span class="Function">test</span>
            <span class="lnr"> 5 </span>    params = <span class="Type">JSON</span>.parse(request.body.read)
            <span class="lnr"> 6 </span>
            <span class="lnr"> 7 </span>    <span class="Comment"># Comment</span>
            <span class="lnr"> 8 </span>    validator = <span class="Type">VimFactory</span>::<span class="Type">Validator</span>.new(params)
            <span class="lnr"> 9 </span>    <span class="Conditional">if</span> validator.valid? == <span class="Boolean">false</span>
            <span class="lnr">10 </span>      <span class="Statement">return</span> [<span class="Number">400</span>, { <span class="Constant">message</span>: validator.error }.to_json]
          </pre>
        </div>
      </div>
      <div id="setting-basic" class="tab-pane fade">

        <h4>タブ・インデント</h4>
        <div class="checkbox">
          <label>
            <input type="checkbox" class="vimrc-contents" name="autoindent">
            直前の行から新しい行のインデントを得る
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" class="vimrc-contents" name="expandtab">
            <Tab>入力でタブの代わりにスペースを利用する
          </label>
        </div>
        <div class="checkbox">
            自動インデントの各段階に使われる空白の数
            <input type="text" class="vimrc-contents" name="shiftwidth">
        </div>
        <div class="checkbox">
            タブの表示幅
            <input type="text" class="vimrc-contents" name="tabstop">
        </div>

        <h4>検索</h4>
        <div class="checkbox">
          <label>
            <input type="checkbox" class="vimrc-contents" name="hlsearch">
            検索結果に色を付ける
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" class="vimrc-contents" name="ignorecase">
            検索時大文字小文字を区別しない
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" class="vimrc-contents" name="wrapscan">
            検索がファイル末尾まで進んだら先頭から再検索
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" class="vimrc-contents" name="incsearch">
            インクリメンタルサーチを行う
          </label>
        </div>

        <h4>カーソル</h4>
        <div class="checkbox">
          <label>
            <input type="checkbox" class="vimrc-contents" name="cursorcolumn">
            カーソルがある桁を強調表示する
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" class="vimrc-contents" name="cursorline">
            カーソルがある行を強調表示する
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" class="vimrc-contents" name="ruler">
            カーソルが何行目の何列目に置かれているかを表示する
          </label>
        </div>
        <h4>表示・装飾</h4>
        <div class="checkbox">
          <label>
            <input type="checkbox" class="vimrc-contents" name="number">
            行番号をつける
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" class="vimrc-contents" name="showmatch">
            対応するカッコをハイライトする
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" class="vimrc-contents" name="wrap">
            長い行を折り返して表示する
          </label>
        </div>
      </div>
      <button type="button" id="setting-btn" class="btn btn-primary btn-lg">これで設定する</button>
    </div>
  </div>
  <div id="terminal-body" class="terminal-area col-xs-8">
  </div>
</div>
