<%= erb :welcome %>
<input id="connection_id" type="hidden" value="<%= @connection_id %>">
<div id="main" class="hide">
  <div id="left-contents">
    <%= erb :left_contents %>
  </div>
  <div id="right-contents">
    <%= erb :right_contents %>
  </div>
</div>
