<div id="welcome">
  <button id="open">Let's Try</button>
  <input id="tmp_id" type="hidden" value="<%= @tmp_id %>">
</div>
<div id="main-content" class="raw hide">
  <div class="vimrc-area col-xs-4">
    <h1>Vim::Factory</h1>
    <ul class="nav nav-tabs">
      <li role="presentation" class="active">
        <a href="#setting-color" data-toggle="tab">カラー</a>
      </li>
      <li role="presentation">
        <a href="#setting-basic" data-toggle="tab">基本設定</a>
      </li>
      <li role="presentation">
        <a href="#setting-advanced" data-toggle="tab">高度な設定</a>
      </li>
    </ul>
    <div id="setting-contents" class="tab-content">
      <div id="setting-color" class="tab-pane fade in active">
        <h5>お好みのカラーを選択</h5>
        <div class="radio">
          <label>
            <input type="radio" class="vimrc-contents" name="colorscheme" value="default" checked>
            default
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" class="vimrc-contents" name="colorscheme" value="desert">
            desert
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" class="vimrc-contents" name="colorscheme" value="darkblue">
            darkblue
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" class="vimrc-contents" name="colorscheme" value="evening">
            evening
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" class="vimrc-contents" name="colorscheme" value="morning">
            morning
          </label>
        </div>
        <!--
        <ul class="color-schema">
          <li class="color-list"><img src="img/vimrc_color_default.jpg"></li>
          <li class="color-list"><img src="img/vimrc_color_desert.jpg"></li>
          <li class="color-list"><img src="img/vimrc_color_darkblue.jpg"></li>
          <li class="color-list"><img src="img/vimrc_color_evening.jpg"></li>
        </ul>
        -->
      </div>
      <div id="setting-basic" class="tab-pane fade">

        <h4>タブ・インデント</h4>
        <div class="checkbox">
          <label>
            <input type="checkbox" class="vimrc-contents" name="autoindent">
            直前の行から新しい行のインデントを得る
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" class="vimrc-contents" name="expandtab">
            <Tab>入力でタブの代わりにスペースを利用する
          </label>
        </div>
        <div class="checkbox">
            自動インデントの各段階に使われる空白の数
            <input type="text" class="vimrc-contents" name="shiftwidth">
        </div>
        <div class="checkbox">
            タブの表示幅
            <input type="text" class="vimrc-contents" name="tabstop">
        </div>

        <h4>検索</h4>
        <div class="checkbox">
          <label>
            <input type="checkbox" class="vimrc-contents" name="hlsearch">
            検索結果に色を付ける
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" class="vimrc-contents" name="ignorecase">
            検索時大文字小文字を区別しない
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" class="vimrc-contents" name="wrapscan">
            検索がファイル末尾まで進んだら先頭から再検索
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" class="vimrc-contents" name="incsearch">
            インクリメンタルサーチを行う
          </label>
        </div>

        <h4>カーソル</h4>
        <div class="checkbox">
          <label>
            <input type="checkbox" class="vimrc-contents" name="cursorcolumn">
            カーソルがある桁を強調表示する
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" class="vimrc-contents" name="cursorline">
            カーソルがある行を強調表示する
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" class="vimrc-contents" name="ruler">
            カーソルが何行目の何列目に置かれているかを表示する
          </label>
        </div>
        <h4>表示・装飾</h4>
        <div class="checkbox">
          <label>
            <input type="checkbox" class="vimrc-contents" name="number">
            行番号をつける
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" class="vimrc-contents" name="showmatch">
            対応するカッコをハイライトする
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" class="vimrc-contents" name="wrap">
            長い行を折り返して表示する
          </label>
        </div>
      </div>
      <div id="setting-advanced" class="tab-pane fade">
        advanced
      </div>
      <button type="button" id="setting-btn" class="btn btn-primary btn-lg">これで設定する</button>
    </div>
  </div>
  <div id="terminal-body" class="terminal-area col-xs-8">
  </div>
</div>
