<div id="welcome">
  <div class="welcome-top jumbotron">
    <h1 class="app-title">Vim::Factory<small> version α</small></h1>
    <p class="app-subtitle">Vimの設定をその場で「即体感」</p>
    <div class="start">
      <button id="open" class="btn btn-default btn-lg">Let's Try Vim::Factory !!</button>
      <input id="connection_id" type="hidden" value="<%= @connection_id %>">
    </div>
  </div>
  <div class="container">
    <div class="about">
      <h2 class="featurette-heading">Vim::Factoryとは？</h2>
      <p class="lead">
        Vim::Factoryはお好みのVimの設定を選んで、その場で「即体感」できるサービスです。<br />
        Vimの設定をこれから使いこなしていきたい人に最適です。<br />
        まだα版です。今後の進化にご期待ください。
      </p>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <p>&copy; 2015 Created by @mosuke5 & @mogulla3</p>
    </div>
  </footer>
</div>
