<div id="welcome">
  <div id="language">
    <% if false %>
    <% if @locale == 'ja' %>
      <a href="/en/">English</a>
    <% else %>
      <a href="/">Japanese</a>
    <% end %>
    <% end %>
  </div>
  <h1>Vim::Factory</h1>
  <p><%= @top_msg["subtitle"] %></p>
  <div id="start">
    <button id="open" class="btn btn-default btn-lg">Get Started</button>
    <input id="connection_id" type="hidden" value="<%= @connection_id %>">
  </div>
  <footer>
    <p>&copy; 2015 Created by <a href="https://twitter.com/mosuke5">@mosuke5</a> &amp; <a href="https://twitter.com/mogulla3">@mogulla3</a></p>
  </footer>
</div>
