<div id="welcome">
  <div class="welcome-top jumbotron">
    <h1 class="app-title">Vim::Factory<small> ver.α</small></h1>
    <p class="app-subtitle">Vimの設定をその場で「即体感」</p>
  </div>
  <div class="container">
    <div class="about">
      <h3 class="featurette-heading">Vim::Factoryとは？</h2>
      <p class="lead">
        Vim::Factoryは選択したVimの設定を、その場ブラウザ上で「即体感」できるサービスです。<br />
        数多くあり複雑なVimの設定を容易にし、あなたお気に入りのVim探しをサポートします。<br />
        まだα版です。今後の進化にご期待ください。
      </p>
    </div>
    <div class="start">
      <h3 class="featurette-heading">Vim::Factoryをはじめる</h2>
      <p class="lead">
        本サービスはvimを操作します。PCでのご利用をお勧めいたします。<br />
        早速、Vim::Factoryをはじめよう！
      </p>
      <button id="open" class="btn btn-default btn-lg">Let's Try Vim::Factory !!</button>
      <input id="connection_id" type="hidden" value="<%= @connection_id %>">
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <p>&copy; 2015 Created by @mosuke5 & @mogulla3</p>
    </div>
  </footer>
</div>
