<div id="welcome">
  <div class="welcome-top jumbotron">
    <h1 class="app-title">Vim::Factory</h1>
    <p class="app-subtitle">Vimの設定をその場ですぐ体感。</p>
    <button id="open" class="btn btn-success">Let's Try!!</button>
    <input id="connection_id" type="hidden" value="<%= @connection_id %>">
  </div>
</div>
