.colorscheme pre {
    font-size: 11px !important;
    border-radius: 10px;
}

.default pre { white-space: pre-wrap; font-family: monospace; color: #000000; background-color: #ffffff; }                                                           
.default * { font-size: 1em; }                                                         
.default .Constant { color: #ff6060; }                                                 
.default .Special { color: #ff40ff; }                                                  
.default .Identifier { color: #00ffff; }                                               
.default .PreProc { color: #ff40ff; } 

.darkblue pre { font-family: monospace; color: #a8a8a8; background-color: #000000; }
.darkblue * { font-size: 1em; }
.darkblue .Comment { color: #c00000; }
.darkblue .Constant { color: #ff40ff; }
.darkblue .Special { color: #af5f00; }
.darkblue .Identifier { color: #00ffff; }
.darkblue .PreProc { color: #ff40ff; }
.darkblue .Type { color: #00ff00; }

.molokai pre { font-family: monospace; color: #d0d0d0; background-color: #121212; }
.molokai .nlr { color: #bcbcbc; background-color: #303030;}
.molokai .Number { color: #af5fff; }
.molokai .Statement { color: #d7005f; font-weight: bold; }
.molokai .Boolean { color: #af5fff; }
.molokai .Conditional { color: #d7005f; font-weight: bold; }
.molokai .Comment { color: #5f5f5f; }
.molokai .Type { color: #5fd7ff; }
.molokai .Function { color: #87ff00; }
.molokai .Constant { color: #af5fff; font-weight: bold; }
.molokai .Define { color: #5fd7ff; }
.molokai .String { color: #afaf87; }
.molokai .Delimiter { color: #626262; }
.molokai .PreProc { color: #87ff00; }

.jellybeans pre { font-family: monospace; color: #d7d7d7; background-color: #121212; }
.jellybeans .lnr { color: #5f5f5f; background-color: #121212; }
.jellybeans .rubySymbol { color: #8787d7; }
.jellybeans .rubyControl { color: #8787d7; }
.jellybeans .Statement { color: #8787af; }
.jellybeans .Comment { color: #808080; }
.jellybeans .Type { color: #ffaf5f; }
.jellybeans .Function { color: #ffd787; }
.jellybeans .Constant { color: #d75f5f; }
.jellybeans .rubyClass { color: #008787; }
.jellybeans .String { color: #87af5f; }
.jellybeans .StringDelimiter { color: #5f5f00; }
.jellybeans .PreProc { color: #87afd7; }
