/**
 * Global
 */
html {
    position: relative;
    min-height: 100%;
}

/*
body {
    background-image: url("../img/gplaypattern.png")
}
*/

div#main-content {
    height: 100%;
    width: 100%;
}
/*
.app-subtitle {
    letter-spacing: 0.1em;
}

.start {
    margin-top: 30px;
    text-align: center;
}

.attention {
    font-size: 15px !important;
}

.about {
    text-align: center;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
}

.footer p {
    text-align: center;
    margin: 5px 0;
}

.language {
    position: fixed;
    right: 15px;
    top: 7px;
}
*/

/**
 * vimrc
 */
div#vimrc {
    min-height: 100%;
    width: 32%;
    border-right: 1px solid #ccc;
}

div#vimrc header {
    padding: 35px 13px;
    border-bottom: 1px solid #ccc;
}

div#vimrc header h1 {
    margin: 0;
    font-weight: normal;
    font-size: 200%;
    text-align: center;
    color: #666;
}

div#vimrc-inner {
    padding: 15px 13px;
    font-size: 85%;
}

div#vimrc h4 {
    font-size: 14px;
}

section#setting-basic td {
    border: none;
}

section#setting-basic .table-right {
    text-align: right;
}

section#setting-basic .table-right input[type="text"] {
    text-align: right;
}

ul.color-schema {
    padding: 0;
}

ul.color-schema li {
    display: inline;
    margin: 0 10px;
}

.colorscheme pre {
    line-height: 1;
    font-size: 11px !important;
    border-radius: 10px;
}

.colorscheme-link {
    vertical-align: middle;
    font-size: 19px;
    margin-left: 3px;
}

.setting-btn-area {
    text-align: center;
}

/**
 * terminal
 */
div#terminal {
    width: 68%;
    min-height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f8f8f8;
}

div#terminal-inner {
    height: 100%;
    padding: 0px 13px;
}

div#terminal-inner .navbar {
    margin-bottom: 0;
}

div#terminal-inner li a {
    padding: 7px 14px;
    margin: 7px 0px;
    border-radius: 2px;
    color: #444;
}

div#terminal-inner li.active > a {
    background-color: #626262;
    color: #fff;
}

#console-wrapper {
    height: 100%;
    width: 100%;
}

/**
 * loading
 */
.loading-message { 
    font-size: 23px;
}

