body {
    background-image: url("../img/dark_geometric.png")
}

.welcome-top {
    text-align: center;
    background-color: transparent !important;
}

.app-title, .app-subtitle {
    color: #EDE9D7 !important;
}

.vimrc-area{
    margin-bottom: 20px;
}

#empty-terminal{
    border: dotted 2px #ddd;
    height: 100%;
    text-align: center;
}

#terminal-body{
    padding:0;
    height: 100%;
}

ul.color-schema{
    padding: 0;
}

ul.color-schema li{
    display: inline;
    margin: 0 10px;
}

