body {
    background-image: url("../img/dark_geometric.png")
}

#welcome {
    color: #d2d0cf !important;
}

.welcome-top {
    text-align: center;
    background-color: transparent !important;
}

/*
.app-title, .app-subtitle {
    color: #eae8e7 !important;
}
*/

.concept {
    text-align: center;
}

.vimrc-area{
    margin-bottom: 20px;
}

#empty-terminal{
    border: dotted 2px #ddd;
    height: 100%;
    text-align: center;
}

#terminal-body{
    padding:0;
    height: 100%;
}

ul.color-schema{
    padding: 0;
}

ul.color-schema li{
    display: inline;
    margin: 0 10px;
}

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
}

.vim-reloading {
    background-image: url("../img/ajax-loader.gif");
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
}
