/* html.maximized { */
  /* overflow: hidden; */
/* } */


/* Only allow plaintext?
[contenteditable=""],
[contenteditable="true"] {
  -webkit-user-modify: read-write-plaintext-only !important;
}
*/

.window {
  /* padding-top: 15px; */
  background: #272829;
  /* position: absolute; */
  z-index: 1000;
  /* border-radius: 3px !important; */
}

.maximized .window {
  border: none;
  box-shadow: none;
}

.dark .window {
  box-shadow: none;
}

/* .bar { */
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  /* right: 0; */
  /* height: 13px; */
  /* padding: 1px 0; */
  /* font-family: "DejaVu Sans Mono", "Liberation Mono", monospace; */
  /* color: #fafafa; */
/* } */

/* .title { */
  /* position: absolute; */
  /* right: 5px; */
  /* top: 2px; */
  /* font-size: 11px; */
  /* cursor: default; */
/* } */

/* .tab { */
  /* font-size: 16px; */
  /* margin-left: 8px; */
  /* margin-top: -2px; */
  /* float: left; */
  /* cursor: pointer; */
/* } */

/* .tab:hover { */
  /* font-weight: bold; */
/* } */

/* .grip { */
  /* position: absolute; */
  /* bottom: -10px; */
  /* right: -10px; */
  /* width: 22px; */
  /* height: 22px; */
  /* cursor: se-resize; */
  /* z-index: -1; */
  /* background: transparent; */
/* } */

/* .grip:hover { */
/* } */

.terminal {
  /* border: #000 solid 5px; */
  /* color: #f0f0f0; */
  border: #232C31 solid 5px !important;
  background: #232C31 !important;
  /* border: #000 solid 5px !important; */
  /* background: #000 !important; */
  /* font-family: Consolas, 'Courier New', Courier, Monaco, monospace; */
  /* font-family: 'Consolas', 'Courier New', 'Courier', 'Monaco', monospace; */
  /* font-family: 'Source Sans Pro', 'Source Code Pro', sans-serif; */
  font-family: 'Inconsolata', 'Source Sans Pro', 'Source Code Pro', sans-serif;
  font-size: 12px;
  line-height: 1;
  word-wrap: break-word;
}

.reverse-video {
  color: #000;
  background: #f0f0f0;
}

#terminal-body{
    background-color: #888A7B;
    padding: 30px 6px;
  /* height: 585px; */
}
